{% extends "base_site.html" %}

{% block main %}

{% load truncate %}

{% if not trivias %}
<div id="error404">
    <img src="{{ MEDIA_URL }}css/images/sadpenguin.png" width="150" height="137" alt="Sad penguin"/>
    <p>Sorry, no knowledge found.</p>
</div>
{% endif %}

{% load pagination_tags %}
{% autopaginate trivias 10 %}

<script type="text/javascript" src="{{MEDIA_URL }}js/socialshare.js"> </script>
<script type="text/javascript" src="http://widget.renren.com/js/rrshare.js"></script>
{% for trivia in trivias %}
<div class="post"> 

   {% include 'post_title.html' %}

   <div class="post-body">
        {{ trivia.body|striptags|truncate:100|removetags:"div b span a p br table"|safe }}
   </div>

    {% if trivia.body|striptags|truncate:100|length > 100 %}
        <div class="post-footer reply">
            <a href="{{ trivia.get_absolute_url }}" class="button">keep reading...</a>
        </div>
    {% endif %}
</div>
{% endfor %}

{% paginate %}

<div class="clear"></div>


{% endblock %}
